svg {
  font: 10px sans-serif;
  font-family: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
	stroke-width: 1.1px;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}
.axistitle {
	text-anchor:middle;
	font-size:14px;
	fill:black;
	font-weight:bold;
}

path:hover {
  stroke: #000 !important;
  stroke-width:4px;
}

.tooltip2 {
  position: absolute;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color:rgba(255, 255, 255, 0.95)
}

.test {
	display:none;
}

h1 {
  font-size: 2em !important;
  font-weight:bold;
}
p {
  font-size: 12px;
}
.perc_bec_mat_escolar_pub, .perc_bec_comedor_pub, .perc_alum_ext_pub {
  display:none;	
}
.square {
	width:40px;
	height:4px;
	float:left;
	margin: 4px 4px 0 0;
}
.bizkaia {
}
.square_bizkaia {
	background-color:#da5455;
}
.gipuzkoa {
}
.square_gipuzkoa {
	background-color:#4199cb;
}
.araba {
}
.square_araba {
	background-color:#f6ae01;
}
.square_media {
	background-color:#666;
}

#Bizkaia,#Gipuzkoa,#Araba,#Media {
	stroke-width: 4px;
	stroke-dasharray: 6,6;
}

.axis_title  {
	display:none;
}

.axis_label {
	text-anchor:middle;
	font-size:12px;
	fill:black;
	font-weight:bold;
}
.legend p {
	float:left;
	margin-right:15px;
}
